<% if logged_in? %>
  <script type="text/javascript">
  window.currentUser = <%= render(
    "api/users/user.json.jbuilder",
    user: current_user
  ).html_safe %>
  </script>
  <% end %>

<script type="text/javascript">
  window.img = "<%= image_url('phone-img.png') %>"
</script>

<script type="text/javascript">
  window.instaLogo = "<%= image_url('insta-logo.png') %>"
</script>

<script type="text/javascript">
  window.newPostLogo = "<%= image_url('add-icon.png') %>"
</script>


<main id="root"></main>
