/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
   background-color: #fafafa
 }

 @font-face {
     font-family: 'billabong';
     src: url(./fonts/Billabong.ttf);
 }

 .login-form-container h2 {
   font-family: 'billabong';
   font-size: 60px;
   margin: 20px;
 }

 .login-form-box {
   position: relative;
   left: 500px;
   border: 1px solid #e6e6e6;
   height: 300px;
   width: 300px;
   background-color: #ffffff;
   text-align: center;
 }

 .login-form-box input {
   height: 20px;
   width: 250px;
   margin-bottom: 7px;
   background-color: #fafafa;
   border: 1px solid #e6e6e6;
   border-radius: 1px;
   color: #9f9999;
 }

 .login-form-box input[placeholder] {
   text-align: center;
 }

 .login-form-box .button {
   height: 25px;
   width: 255px;
   background-color: #c4dffd;
   color: #f6fbfe;
   font-weight: 600;
   border-radius: 3px;
 }

 .login-form-box .button:hover {
   background-color: #3897f0;
   cursor: pointer;
 }

 .login-form-box .button value {
   padding: 5px 0px 10px 0px;
 }

 .alternate-form {
   position: relative;
   left: 500px;
   text-align: center;
   border: 1px solid #e6e6e6;
   width: 260px;
   margin-top: 10px;
   padding: 20px;
   color: #262626;
   font-size: 14px;
   background-color: #ffffff;
 }

 .alternate-form a {
   text-decoration: none;
 }
