/* .comment-username {
  font-weight: bold;
} */
.all-comments {
  list-style: none;
  padding-left: 23px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;
}

.no-underline {
  color: black;
  text-decoration: none;
}

.no-underline:visited {
  color: black;
}

.post-comment {
  display: flex;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 3px;
}

.post-comment-username {
  font-weight: 800;
}

.post-comment-body {
  font-weight: 400;
}

.comment-form-box {
  z-index: 1;
  color: #999;
  border-top: 1px solid #e6e6e6;
  width: 542px;
  margin-left: 24px;
}

.comment-form {
  margin-top: 20px;
  margin-bottom: 5px;
}
.comment-form-form {
  color: black;
  border: none;
  font-size: 14px;
  height: 18px;
  width: 500px;
  padding-bottom: 10px;
}

.post-comments-below {
  display: flex;
}

.new-comment-btn {
  margin-bottom: 10px;
  border-radius: 5px;
}

.new-comment-btn:hover {
  cursor: pointer;
  background-color: #8080802e;
}
