.post-show {
}

.post-show-right {
  display: flex;

}

.post-show img {
  max-height: 600px;
  max-width: 600px;
}

.delete-post-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 13px;

}
