.profile-container {
  display: flex;
  margin-top: 105px;
  padding-left: 100px;
  font-family: 'Roboto', sans-serif;
  border-bottom: 1px solid #efefef;

}
.profile-header {
  padding-bottom: 100px;
}
.profile-nav {
  display: flex;
  width: 365px;
  font-family: 'Roboto', sans-serif;
  justify-content: space-between;
}

.profile-post-index {
  display: flex;
  max-width: 940px;
  margin-left: 48px;
  padding-top: 80px;
}

.profile-user {
  font-size: 30px;
  font-weight: lighter;
  margin-bottom: 2px;

}

.profile-post-list {
  display: flex;
  flex-wrap: wrap;
}

.profile-post-list-img img {
  max-width: 258px;
  max-height: 258px;
}

.profile-post-list-img:hover {
  cursor: pointer;
  -webkit-filter: brightness(70%);
}

.profile-post-index-item {
  list-style: none;
  height: 258px;
  width: 258px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.profile-post-list-img {
  background-color: white;
  max-width: 258px;
  height: 258px;
}

.new-post-btn {
  background-color: transparent;
  border: 1px solid #dbdbdb;
  color: #262626;
  border-radius: 4px;
  font-weight: 600;
  padding: 5px 9px;
  text-align: center;
  font-size: 13px;
  width: 84px;
  height: 30px;
  /* margin-left: 146px; */
}

.new-post-btn:hover {
  cursor: pointer;
  background-color: #a7ccf5;
}

.setting-icon {
  height: 30px;
  width: 30px;
}

.setting-icon:hover {
  cursor: pointer;
}

.profile-counts {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.profile-pic {
  border-radius: 80%;
  height: 145px;
  width: 145px;
  margin-right: 100px;
  /* margin-bottom: 50px; */
}
