.right-nav {
  display:flex;
  flex-direction: row-reverse;
  padding-top: 17px;
}

.add-post-btn:hover {
  cursor: pointer;
}

.profile-icon {
  height: 37px;
  width: 37px;
  padding-right: 100px;
}

.profile-icon:hover {
  cursor: pointer;
}
