.session-img {
  position: relative;
  height: 247px;
  width: 50px;
  left: 230px;
  bottom: 425px;
}

.phone-slideshow{
  height: 0px;
}

 #one {
  position: relative;
  bottom: 572px;
  left: 381px;
}

#two {
  position: relative;
  bottom: 572px;
  left: 141px;
  opacity: 80;
}

#three {
  position: relative;
  bottom: 572px;
  right: 99px;
  opacity: 80;
}
